# Public packages
flask==2.2.2
flask_cors==3.0.10
gunicorn==20.1.0

# Private packages
git+ssh://git@github.com/dialect-map/dialect-map-core.git@v0.6.0#egg=dialect-map-core
git+ssh://git@github.com/dialect-map/dialect-map-schemas.git@v0.2.2#egg=dialect-map-schemas
